# Node modules are rebuilt on the server
node_modules

# Logs and temp files
*.log
*.tmp

# Git files
.git
.gitignore

# Local dev assets (optional)
*.DS_Store
*.expo
.expo-shared

# Android/iOS local builds
android
ios
build
